name: TBM API Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2


      - name: Archive backend files
        run: |
          tar --ignore-failed-read -czf backend.tar.gz \
          --exclude=.git \
          --exclude=vendor \
          .

      - name: Upload files via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSPHRASE }}
          port: 22
          source: "backend.tar.gz"
          target: "/var/www/thetbmevents-api"


      - name: Extract files and migrate on remote server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSPHRASE }}
          port: 22
          script: |
            cd /var/www/thetbmevents-api
            tar -xzf backend.tar.gz
            rm backend.tar.gz
            sudo chown -R www-data:www-data /var/www/thetbmevents-api/storage
            sudo chown -R www-data:www-data /var/www/thetbmevents-api/bootstrap/cache
            sudo chmod -R 775 /var/www/thetbmevents-api/storage
            sudo chmod -R 775 /var/www/thetbmevents-api/bootstrap/cache
            composer install
            composer dump-autoload
            php artisan migrate --force
            sudo chown -R www-data:www-data /var/www/thetbmevents-api/storage
            sudo chown -R www-data:www-data /var/www/thetbmevents-api/bootstrap/cache
            sudo chmod -R 775 /var/www/thetbmevents-api/storage
            sudo chmod -R 775 /var/www/thetbmevents-api/bootstrap/cache

